{% load staticfiles %}

<html>
    <head>
        <title>Yiying's Game Web</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'games/css/base.css' %}" />

        <meta charset="UTF-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>

    </head>
     <body>
        <div class="container" style="width: 100%;">
            <div class="page-header" >
                <h1>Yiying's Game Web</h1>
            </div>
            <div class="container" style="width:90%;">
              {% block index %}
              {% endblock %}
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-8" style="padding-left:150px;">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="col-xs-4" style="padding-right:100px; padding-top: 100px; ">
                        {% block forms %}
                        {% endblock %}
                    </div>
                </div>
            </div>
          <div>
            {% block summary %}
            {% endblock %}
          </div>
        </div>
    </body>
</html>