{% extends 'games/base.html' %}

{% block content %}
	<body>
         <div id="root"></div>
         <script src="../../static/games/js/game_1.jsx"  type="text/jsx"></script>
     </body>
	<form>
		<input class="btn" value="Back to Menu" onclick="window.location.href='{% url 'games:index' %}'" />
	</form>

{% endblock %}


{% block forms %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_subject" style="color:lightcyan;">Subject</label>
      <input type="text" class="form-control" id="id_subject" name="subject">
    </div>
    <div class="form-group">
      <label for="id_message">Message</label>
      <textarea class="form-control" id="id_message" name="message" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock %}